:root {
	--secondary-background-color: #6e98c5;
	--text-primary-color: #ffffff;
	--primary-background-color: #17252a;
	--shadow-color: #ccc;
	--primary-font: "Segoe UI";
	--standard-padding: var(--standard-vertical-padding)
		var(--standard-horizontal-padding);
	--standard-vertical-padding: 0.375rem;
	--standard-horizontal-padding: 0.75rem;
	--spinner-color: white;
	--background: #ecf0f1;
	--primary: rgb(83, 158, 138);
	--navbar-height: 48px;
}

/*##############################################*/
header {
	background-color: var(--primary);
	padding: 0px;
	display: flex;
	height: var(--navbar-height);
}
nav {
	display: flex;
	justify-content: right;
	align-items: center;
	max-height: 64px;
	height: var(--navbar-height);
	width: 100%;
}
nav > span {
	margin: 10px;
}
.nav-btn {
	padding: 0.5em;
	border-radius: 10%;
	background-color: rgb(83, 158, 138);
	border: none;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: var(--background);
}
.nav-btn:hover {
	background-color: rgb(123, 189, 171);
	border: none;
}
#logo-img {
	height: var(--navbar-height);
	display: inline;
}
/*##############################################*/
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
}
section::-webkit-scrollbar {
	display: none;
}
.scrolling-wrapper > .card {
	flex: 0 0 auto;
	padding: 1em;
	width: 200px;
	height: 400px;
}
.scrolling-wrapper > .card > div {
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	align-content: center;
}
.scrolling-wrapper > .card > div > img {
	width: 100%;
}
/*##############################################*/
body {
	margin: 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
a {
	text-decoration: none;
}
p {
	font-family: var(--primary-font);
	color: var(--text-primary-color);
	font-weight: 400;
}
aside {
	width: 20%;
	background-color: var(--background);
}
#mid-section {
	display: flex;
}
#main-content {
	width: 100%;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: var(--background);
}
#main-container {
	background: linear-gradient(
			45deg,
			rgb(40 87 115 / 90%) 0%,
			rgb(102 217 234 / 90%) 100%
		),
		url(../img/hero-bg.jpg) 30% 60% no-repeat;
	width: 100%;
	min-height: 100vh;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#main-container-popup {
	background-color: rgba(10, 10, 10, 0.8);
	display: none;
	z-index: 9;
	opacity: 1;
	width: 100%;
	min-height: 100vh;
	height: fit-content;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.login-container {
	margin: 5% 0px;
	width: 25%;
	min-width: 300px;
	padding: 5%;
	background: #7eaebec2;
	box-shadow: 0px -1px 6px 2px #ffffff4a;
}

#spinner {
	animation: rotate 2s linear infinite;
	width: 1.25em;
	height: 1.25em;
	position: relative;
	top: 0.25em;
	left: 1em;
	display: none;
}
#spinner > .path {
	stroke: var(--spinner-color);
	stroke-linecap: round;
	animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}
@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35;
	}
	100% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124;
	}
}
/*##############################################*/
.text-input {
	display: block;
	width: calc(calc(100% - 2 * 0.75rem) - 2px);
	height: calc(1.5em + 0.75rem + 2px);
	padding: var(--standard-padding);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin: 0px auto;
}

.valid-input:focus {
	color: #495057;
	background-color: #fff;
	outline: 0;
	border-color: #80bdff;
	box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
}

.invalid-input:focus {
	color: #495057;
	background-color: #fff;
	outline: 0;
	border-color: #dc3545;
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.login-text {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
}

noscript {
	color: white;
}

button {
	font-weight: 400;
	text-align: center;
	border: 1px solid var(--secondary-background-color);
	padding: var(--standard-padding);
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	color: #fff;
	background-color: var(--secondary-background-color);
	display: block;
	width: 100%;
	cursor: pointer;
}

button:hover {
	border: 1px solid white;
}
.required {
	color: black;
}
.user-icon {
	font-size: 85px;
	color: #007bff;
}
.icon-container {
	text-align: center;
	margin: 35px 0;
}

.form-block {
	margin-bottom: 1rem;
}

.login-form {
	margin-top: 50px;
}

.file-input {
	display: block;
	width: 100%;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #c3cfda;
	background-color: var(--primary-background-color);
	background-clip: padding-box;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	margin: 0px auto;
}
.relative {
	position: relative;
}
.form-select {
	display: inline-block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 1.75rem var(--standard-padding);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: #fff
		url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
		right 0.75rem center/8px 10px no-repeat;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	appearance: none;
}
.form-select:focus {
	border-color: #80bdff;
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.invalid-text {
	display: none;
	width: 100%;
	margin-top: 0.3rem;
	font-size: 80%;
	color: #dc3545;
	font-family: sans-serif;
}

/*##############################################*/

.quiz-choice-container > * {
	margin: 0;
	padding: 0;
	color: #333;
}

/* h3 {
	margin-bottom: 1rem;
	font-weight: 700;
	max-width: 60em;
} */

/* UTILITIES */

.quiz-question-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: calc(80%main-container-popup);
}

.quiz-choice-container {
	display: flex;
	margin-bottom: 2.5em;
	width: 100%;
	border: 0.1rem solid rgb(86, 165, 235, 0.25);
	background-color: white;
}

.quiz-choice-container:hover {
	cursor: pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.quiz-choice-prefix {
	padding: 1.5em 2.5em;
	background-color: #56a5eb;
	color: white;
}

.quiz-choice-text {
	padding: 1.5em;
	width: 100%;
	color: black;
}
