:root {
  --secondary-background-color: #def2fa;
  --text-primary-color: #ffffff;
  --primary-background-color: #17252a;
  --shadow-color: #ccc;
  --primary-font: "Segoe UI";
  --standard-padding: var(--standard-vertical-padding)
    var(--standard-horizontal-padding);
  --standard-vertical-padding: 0.375rem;
  --standard-horizontal-padding: 0.75rem;
}

body {
  background: linear-gradient(
      45deg,
      rgba(86, 58, 250, 0.9) 0%,
      rgba(116, 15, 214, 0.9) 100%
    ),
    url("../img/hero-bg.jpg") 30% 60% no-repeat;
  margin: 0;
}

p {
  font-family: var(--primary-font);
  font-size: x-large;
  color: var(--text-primary-color);
  font-weight: 400;
}

#main-container {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  margin: 5% 0px;
  width: 25%;
  min-width: 300px;
  padding: 5%;
  background: var(--primary-background-color);
  box-shadow: 0px -1px 6px 2px var(--shadow-color);
}

.text-input {
  display: block;
  width: calc(calc(100% - 2 * 0.75rem) - 2px);
  height: calc(1.5em + 0.75rem + 2px);
  padding: var(--standard-padding);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0px auto;
}

.text-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.3rem rgba(0, 123, 255, 0.25);
}

.login-text {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}

button {
  font-weight: 400;
  text-align: center;
  border: 1px solid #007bff;
  padding: var(--standard-padding);
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  display: block;
  width: 100%;
  cursor: pointer;
}

button:hover {
  border: 1px solid white;
}

.required {
  color: black;
}

.user-icon {
  font-size: 85px;
  color: #e84118;
}
.icon-container {
  text-align: center;
  margin: 35px 0;
}

.form-block {
  margin-bottom: 1rem;
}

.login-form {
  margin-top: 50px;
}

.file-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c3cfda;
  background-color: var(--primary-background-color);
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin: 0px auto;
}

.form-select {
  display: inline-block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem var(--standard-padding);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff
    url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
    right 0.75rem center/8px 10px no-repeat;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  appearance: none;
}
.form-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
