body {
	background-color: #def2fa;
}

p {
	font-family: "Segoe UI";
	font-size: x-large;
	color: #3aafa9;
	font-weight: 400;
}

#main-container {
	width: 40%;
	height: 80vh;
	position: absolute;
	background: #17252a;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.login-container {
	padding: 10%;
	position: absolute;
	margin-top: 5%;
	width: 80%;
}

.text-input {
	width: 80%;
	padding: 12px 10%;
	font-family: "Segoe UI";
	font-size: large;
}

button {
	padding: 1px 10%;
	height: 6vh;
	margin-top: 20px;
	font-family: "Segoe UI";
	font-size: large;
	font-weight: 400;
	background-color: #2b7a78;
	color: #def2f1;
	border: none;
}
