body {
	background-color: #def2fa;
}

p {
	font-family: "Segoe UI";
	font-size: x-large;
	color: #3aafa9;
	font-weight: 400;
}

#main-container {
	width: 100%;
	min-height: 100vh;
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-container {
	margin: 5% 0px;
	width: 40%;
	min-width: 300px;
	padding: 5%;
	background: #17252a;
	box-shadow: 3px 3px 5px 6px #ccc;
}

.text-input {
	width: 90%;
	padding: 12px 5%;
	font-family: "Segoe UI";
	font-size: large;
}

button {
	display: inline-flex;
	align-items: center;
	padding: 1.5em 10%;
	height: 6vh;
	margin-top: 20px;
	font-family: "Segoe UI";
	font-size: large;
	font-weight: 400;
	text-align: center;
	background-color: #2b7a78;
	color: #def2f1;
	border: none;
}
